# URL pública usada pelo cliente (browser) e pelos Route Handlers do Next
NEXT_PUBLIC_API_URL=http://localhost:3001

# URL interna usada por Route Handlers / Server Components (pode ser igual à pública)
API_URL=http://localhost:3001
